!!! 5
head
	//title #{title}	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans', type='text/css')
	link(rel='stylesheet', href=base_url + '/main.css', type='text/css')
	link(rel='stylesheet', href=base_url + '/prism.css', type='text/css')
	link(rel='alternate', type='application/rss+xml', title=title, href=base_url + '/rss.xml')

	title="bytesnake's homepage"
	
	- if (typeof single !== 'undefined')
		link(rel='stylesheet', href=base_url + '/single_article.css', type='text/css')
body
	script(src=base_url + "/prism.js")

	div.topbar
	div.header
		div.speech_bubble

		div.icons
			a(href="http://www.twitter.com/bytesnake", target="_blank")
				img.twitter(src="/images/twitter.png")
			a(href="https://www.facebook.com/lorenz.schmidt95", target="_blank")
				img.facebook(src="/images/facebook.png")
			a(href="http://github.com/bytesnake", target="_blank")
				img.github(src="/images/github.png")
		a(href='/2014/02/About-me')
			div.avatar

		div.blog_title
			<a href='!{base_url}/'>germandev.com</a>
		
		div.motto 
			a(href="http://www.faqs.org/docs/artu/philosophychapter.html") unix philosopher
			span  | 
			a(href="http://nodejs.org") Node.js
			span  | OpenGL

	- each article in articles
		if article.show_on_home_page || typeof single !== 'undefined'
			div.article
				div.title
					div.tr1
					div.tr2
					div.sq1
					div.sq2
				
					div.link
						<a href='!{base_url}/!{article.url}/'>!{article.title}</a>
				div.metadata
					div#desc
						span Author: <br>
						span Date:
					div#cont
						span !{article.author} <br> 
						span !{article.date_str}
				div.body !{article.body}
					div.fade
					div.subarticle
					div.tr3
		
			- if (typeof single !== 'undefined' && single && disqus_id !== -1)
				script(type='text/javascript')
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = '!{disqus_id}'; // required: replace example with your forum shortname
	
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
	
				div.article
					div.title
						div.tr1
						div.tr2
						div.sq1
						div.sq2
				
						div.link 
							a(href="#comment") Kommentare zu '!{article.title}'

					div#disqus_thread
					div.subarticle
					div.tr3

	- if ((typeof single === 'undefined' || !single) && page_num !== -1)
		div.next_page
			<a href='!{base_url}/page/#{page_num + 1}'>Next Page</a>

	div.footer
		a(href='http://github.com/guyht/glog') Powered by Glog

	- if (typeof analytics_code !== 'undefined' && analytics_code !== null)
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '!{analytics_code}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

